{% extends 'base.html' %}

{% block content %}

<h1 style="background:orange;">Notes Test</h1>
<div class="row medium-unstack">
    <br>
    <div class="card card-1" style="height-auto";>
        <div class="row">
            <div class="small-12 large-3 medium-5 columns">
                <div class="card-image-wrapper"><img alt="" style="padding-left:40rem;"
                    src="https://live.staticflickr.com/65535/52438327706_1bb446fd2a_m.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body { background:#FFD493 }
</style>

<form method="notes">
    {% csrf_token %}
    {% include 'navbar.html' %}

</form>
{% endblock %}
